<h1 align="center">Listing all Recipes</h1>

<% @recipes.each do |recipe| %>
  <div class="card">
    <div class="card-body">
      <h5 class="card-title"><%= recipe.name %></h5>
      <p class="card-text"><%= truncate(recipe.description, length: 150) %></p>
      <p class="card-text"><small class="text-muted">Created <%= time_ago_in_words(recipe.created_at) %> ago</small></p>
    </div>
  </div>
<% end %>
