@import "bootstrap";

// logo
#logo {
  float: left;
  font-size: 1em;
  color: white;
  text-transform: uppercase;
  letter-spacing: -1px;
  font-weight: bold;
}

#logo:hover {
  color: white;
  text-decoration: none;
}

// navbar
.navbar {
  background-color: #289486;
}

//Jumbotrom
.jumbotron {
  margin-top: 32px;
  text-align: center;
  background-color: #a8d4c8;
}

//links
.color-link a {
  color: #289486
}

//Button
.btn-color {
  background-color: #289486;
  border-color: #289486;
}

//pagination
.pagination {
  margin-top: 10px;
}

.page-item.active .page-link {
  background-color: #289486;
  border-color: #289486;
}

.page-link:hover {
  color: black;
}

// Card
.card {
  margin-top: 15px;
}

.card-title {
  margin-top: 12px;
  margin-bottom: 15px;
}

// recipes
.recipe-actions {
  margin-top: 20px;
  .btn {
    color: #289486;
    border-color: #289486;
  }
}

.buttons {
  margin-bottom: 10px;
}

.back-link {
  margin-bottom: 10px;
}

.recipe-header {
  border-bottom: 0px;
  margin-top: 15px;
}

// avatar
.rounded-circle {
  margin-bottom: 15px;
  margin-top: 15px;
}

// badge
.badge-light {
  background-color: #289486;
  margin-right: 5px;
  a {
    color: white;
  }
}

// Checkbox
.input_checkbox {
  margin-right: 15px;
  width: auto !important;
  
  .checkbox{
    margin-right: 3px;
  }
}

//comment
#comments {
  padding-right: 0px;
  padding-left: 0px;
}

.comment-description {
  margin-top: 15px;
  padding-right: 15px;
  padding-left: 15px;
}

.commented-by {
  padding-right: 15px;
  padding-left: 15px;
}

.comments {
  padding-right: 0px;
  padding-left: 0px;
}

//chat
.chat-container {
  padding-left: 0px;
  padding-right: 0px;
}

.message-container {
  margin-top: 25px;
  padding-left: 0px;
  padding-right: 0px;
}

.message-content {
  margin-top: 15px;
  padding-right: 15px;
  padding-left: 15px;
}
